body {
  background: #d0d0d0;
  color: #1A1C29;
}

hr {
  border-color: #1A1C29;
}

p {
  margin-bottom: 0.5rem;
}

td {
  border: 1px solid #1A1C29;
  padding: 5px;
}

.footer-padding {
  padding-top: 1rem;
}

.map-holder {
  width: 100%;
  display: inline-block;
}

/* COPY PASTA */

svg rect {
  fill: #d0d0d0;
  /* map background colour */
}

.country {
  fill: #1A1C29;
  /* country colour */
  stroke: #d0d0d0;
  /* country border colour */
  stroke-width: 1;
  /* country border width */
}

.country-on {
  fill: #4B5358;
  /* highlight colour for selected country */
}

.countryLabel {
  display: none;
  /* hide all country labels by default */
}

.countryName {
  fill: #209CAD;
  /* country label text colour */
}

.countryLabelBg {
  fill: #1A1C29;
  /* country label background colour */
}